PORT=3000
FRONTEND_URL=http://localhost:4200

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=ifsp-user-db
DB_PASSWORD=ifsp-palestra-@12
DB_DATABASE=ifsp-palestra
DB_SYNCHRONIZE=true

JWT_SECRET=change-this-secret-before-production
JWT_EXPIRES_IN=1d
